# Ignore all data folders
.vscode/
astronomaly/
Data/DeCaLs/
Data/Galaxy_Images/
Data/GalaxyZooSubset/
Data/BGMM_clusters.parquet
Data/BGMM_clusters_with_prob.parquet
Data/features.parquet
Data/GalaxyZoo_Main_Features.csv
Data/metadata.npy
Data/MiniBatchKMeans_clusters.parquet
Data/MiniBatchKMeans_clusters_with_prob.parquet
Data/pca_components.parquet
Data/PCA_Decomposer_output.parquet
Data/pca_features.parquet
Data/spectra.npy
Data/subset.csv
my_proj_env/
Old Scripts/
Papers/
astronomaly.log
Trial*

# Track specific files
!BGMM_Cluster_Assignment.ipynb
!MiniBatchKMeans_Cluster_Assignment.ipynb
!Test_Subset.ipynb
!Data/BGMM_test_subset.parquet
!Data/MiniBatchKMeans_test_subset.parquet
